.main {
  height: 100vh;
  background-color: #264653;
  background-image: url('../../statics/images/brushed-alum-dark.png');

  &__content {
    display: block;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 56px 0 0;
  }
}
