$size: 2rem;
$opacity: 0.6;
$colors: (
  #e9c46a,
  #f4a261,
  #e76f51,
);

.bubble {
  display: inline-block;
  position: fixed;
  // left: 40%;
  bottom: -4vh;
  border-radius: 50%;
  height: $size;
  width: $size;
  opacity: $opacity;

  transition: all 1s linear;
}
